<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
           id="com.uniclau.alarmplugin"
      version="0.1.0">
    <name>Alarm</name>
    <description>Sample Alarm Plugin</description>
    <license>MIT</license>
    <keywords>phonegap,alarm</keywords>


    <js-module src="www/alarmplugin.js" name="AlarmPlugin">
        <clobbers target="navigator.plugins.alarm" />
    </js-module>

    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="AlarmPlugin">
                <param name="android-package" value="com.uniclau.alarmplugin.AlarmPlugin"/>
            </feature>
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/manifest">
            <uses-permission android:name="android.permission.WAKE_LOCK" />
            <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
            <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
            <uses-permission android:name="android.permission.VIBRATE"/>
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <receiver android:name="com.uniclau.alarmplugin.AlarmReceiver" android:process=":remote">
            </receiver>
            <receiver android:name="com.uniclau.alarmplugin.AlarmBoot">
                <intent-filter>
                    <action android:name="android.intent.action.BOOT_COMPLETED"></action>
                </intent-filter>
            </receiver>
        </config-file>


        <config-file target="AndroidManifest.xml" parent="/manifest/application/activity">
            <intent-filter>
                <action android:name="com.uniclau.alarmplugin.ALARM" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </config-file>



        <source-file src="src/android/AlarmPlugin.java" target-dir="src/com/uniclau/alarmplugin" />      
        <source-file src="src/android/AlarmBoot.java" target-dir="src/com/uniclau/alarmplugin" />      
        <source-file src="src/android/AlarmReceiver.java" target-dir="src/com/uniclau/alarmplugin" />      
     </platform>          
</plugin>
